<script type="text/x-handlebars">
    <div id="body" class="container">
        <div class="row">
            <nav class="large-12 columns">
                <ul>
                    <li>{{#linkTo 'users'}}Users{{/linkTo}}</li>
                    <li><a href="#">Bracket</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            {{outlet}}
        <div>
    </div>
</script>