<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HAPPY NOW ERIC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/Content/normalize.css"/>
        <link rel="stylesheet" href="/Content/foundation.css"/>
        <link rel="stylesheet" href="/Content/tableTennis.css"/>
    </head>
    <body>
        @Html.Partial("_Layout")
        
        @Html.Partial("Users")
        
        @Html.Partial("User")

        <script src="/Scripts/jquery-1.9.1.js"></script>
        <script src="/Scripts/handlebars-1.0.0-rc.3.js"></script>
        <script src="/Scripts/ember-1.0.0.0-rc.3.js"></script>
        <script src="/Scripts/ember-data-master.js"></script>
        <script src="/Scripts/tableTennis.js"></script>
    </body>
</html>
